.card {
    background-color: var(--color-blanco);
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: var(--sombra-suave)
}

.titulo {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.contenido {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.imagen {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 6px;
}

.info {
    flex: 1;
    min-width: 200px;
}

.boton {
    display: inline-block;
    margin-top: 0.5rem;
    padding: 0.4rem 0.8rem;
    background-color: var(--color-letras-boton);
    color: var(--color-blanco);
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    transition: all .4s ease-in-out;
}

.boton:hover{
    background-color: #29a929;
}