.layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.full-width {
    width: 100%;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center; /* o start/end según tu diseño */
}

.card-grid > div {
  width: 45%;
  box-sizing: border-box;
}


@media screen and (max-width: 911px) {

  .card-grid > div{
    width: 100%;
  }
}
