.navbar {
    background-color: var(--color-tarjetas);
    height: 10rem;
    display: flex;
    border-radius: var(--borde-radius) var(--borde-radius) 0 0;
    margin-top: 1rem;
}

.navbar-logo {
    height: 7rem;
    width: auto;
    position: relative;
    bottom: 0.5rem;
}

.container-logos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.navbar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
}

.navbar-brand {
    font-family: var(--fuente-titulo);
    font-size: var(--tamanio-titulo-xl);
    color: var(--color-tapalquego);
    text-decoration: none;
    font-weight: 800;
    height: 100%;
}

.navbar-toggle {
    background: none;
    border: none;
    font-size: 2rem;
    color: var(--color-letras-boton);
    cursor: pointer;
    display: none;
}

.container-links{
    width: 50rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar-links {
    display: flex;
    gap: var(--espaciado-md);
}

.navbar-link {
    font-family: var(--fuente-texto);
    color: var(--color-letras-boton);
    font-weight: 600;
    text-decoration: none;
    font-size: var(--tamanio-letras-m);
    transition: all 300ms ease-in-out;
}

.navbar-link:hover {
    color: var(--color-acento);
}

.navbar-session{
    font-family: var(--fuente-texto);
    color: var(--color-letras-boton);
    font-weight: 600;
    text-decoration: none;
    font-size: var(--tamanio-letras-m);
    margin-right: 1rem;
    transition: all 300ms ease-in-out;
}

.navbar-session:hover {
    color: var(--color-acento);
}

.navbar-slide {
    position: fixed;
    top: 0;
    right: -100%;
    width: 80%;
    max-width: 300px;
    height: 100vh;
    background-color: var(--color-tarjetas);
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.3);
    transition: right 0.5s linear;
    z-index: 10;
    display: flex;
    flex-direction: column;
    padding: var(--espaciado-md);
}

.slide-open {
    right: 0;
}

.slide-close {
    align-self: flex-end;
    background: none;
    border: none;
    font-size: 2rem;
    color: var(--color-letras-boton);
    cursor: pointer;
    margin-bottom: var(--espaciado-md);
}

.slide-links {
    display: flex;
    flex-direction: column;
    gap: var(--espaciado-md);
}

.slide-link {
    font-family: var(--fuente-texto);
    font-size: var(--tamanio-letras-m);
    color: var(--color-letras-boton);
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
}

.slide-link:hover {
    color: var(--color-acento);
}


/* Responsive toggle */
@media (max-width: 911px) {
    .navbar-toggle {
        display: block;
    }

    .navbar-links {
        display: none;
        flex-direction: column;
        gap: var(--espaciado-sm);
        margin-top: var(--espaciado-sm);
    }

    .navbar-secion{
        display: none;
    }

    .navbar-links.expanded {
        display: flex;
    }

    .container-links{
        display: none;
    }
}