
.item-row{
    display : flex;
    align-items : center;
    gap : 10px;
}

.espacios{
    margin: var(--espaciado-md);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.itemLayout{
    width: 100%;
}