
.layout{
    display: grid;
    grid-template-rows: 20%, auto, auto;
    grid-template-areas: 
                        "header header header"
                        "aside section section"
                        "aside section section"
                        "footer footer footer";
    
}

.layout__header{
    grid-area: header;
}

.layout__section{
    grid-area: section;
}

.layout__aside{
    grid-area: aside;
}

.layout__footer{
    grid-area: footer;
}