@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;

    width: 100%;
}

body{
    font-size: 1.6rem;

    width: 100%;
    font-family: var(--fuente-principal);
}

:root{
    --colorFondo: #EAE6C6;
    --colorFondoMain: #EBE6C6;
    --colorFondosTarjetas: #FDEDCB;
    --colorLetras: #5E7E4A;
    --verde-monte: #3E7C59;
    --marron-tierra: #A47149;
    --beige-claro: #F5F0E6;
    --celeste-rio: #5c81ca;
    --gris-piedra: #44444477;
    --blanco: #FFFFFF;
    --fuente-principal: 'Montserrat', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --fuente-secundaria: 'Poppins', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.layout{
    width: 100%;
    background-color: var(--colorFondo);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.layout__header{
    height: 12rem;
    width: 100rem;
    margin: 2rem auto 0 auto;
    position: sticky;
    top: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    background-color: var(--colorFondosTarjetas);
    border-radius: 1rem 1rem 0 0;
    box-shadow: 0 0 10px var(--gris-piedra);
    z-index: 1;
}

.header__logo{
    height: 10rem;
    width: 13rem;
    cursor: pointer;
    padding-left: 2rem;
    object-fit: contain;
}

.header__description{
    display: flex;
    flex-flow: row wrap;
}

.description__ancor{
    margin-right: 1rem;
    padding: 0 1rem;
    border-right: 1px solid var(--gris-piedra);
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--colorLetras);
}

.description__ancor:hover,
.fa-circle-user:hover{
    color: var(--celeste-rio);
}

.description__ancor:last-child{
    border: none;
}

.header__btn{
    padding-right: 2rem;
    cursor: pointer;
    height: 100%;
    width: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-circle-user{
    font-size: 2rem;
    color: var(--colorLetras);
}

.layout__main{
    width: 100rem;
    height: 100%;
    padding: 2rem;
    background-color: var(--colorFondoMain);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    box-shadow: 0 0 10px var(--gris-piedra);
}

.layout__section{
    display: flex;
    flex-wrap: column wrap;
    width: 75rem;
}

.layout__unorden{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.unorden__list{
    height: 17rem;
    width: 70rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--colorFondosTarjetas);
    margin-bottom: 2rem;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0 0 3px var(--gris-piedra);
}

.list__view{
    width: 17rem;
    height: 13rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.view__img{
    width: 15rem;
    height: 10rem;
}
.view__type{
    font-weight: 500;
    margin-top: 0.5rem;
    color: var(--marron-tierra);
}

.list__description{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.description__subtitle{
    font-size: 2rem;
    margin: 1rem;
    color: var(--verde-monte);
}

.description__starts{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.starts__totoras{
    display: flex;
    flex-direction: row;
    
}

.totoras__puntuacion{
    width: 3rem;
    height: 5rem;
    object-fit: contain;  
}

.totoras__score{
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--marron-tierra);
}

.list__go{
    display: inline-block;
    border-radius: 0.5rem;
    background-color: var(--colorLetras);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 1.7rem;
    padding: 1.6rem;
    width: 10rem;
    height: 5rem;
    transition: all 0.5s;
    cursor: pointer;
    position: relative;
    bottom: -7rem;
}

.list__go:hover {
    background-color: var(--celeste-rio);
}


.layout__aside{
    width: 20rem;
    height: 50rem;
    margin-right: 2rem;
    padding: 2rem;
    background-color: var(--colorFondosTarjetas);
    border-radius: 1rem;
    box-shadow: 0 0 3px var(--gris-piedra);
}

.aside__form{
    width: 100%;
    height: 45rem;
}

.form__title{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
    color: var(--verde-monte);
}

.form__legend{
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--colorLetras);
    margin-bottom: 1rem;
}

.legend__option{
    
}